.app{
text-align:center;
padding:50px;
transition:all 0.4s ease;
}

.light{
background:white;
color:black;
}

.dark{
background:#121212;
color:white;
}

button{
padding:10px 20px;
margin-top:20px;
cursor:pointer;
}

.completed{
text-decoration:line-through;
color:gray;
}
